# Ignore everything
*
*/**

# Allowlist what we need
!out/**
!out/sqldb/**
!assets/**
# !servers/**

!webviews/codex-webviews/dist/**
!webviews/obs/build/**
!webviews/dictionary-side-panel/dist/**
!webviews/editable-react-table/dist/**
!webviews/usfm-viewer/build/**

!src/assets/reset.css
!src/assets/vscode.css
!src/assets/bible_data_with_vref_keys.json.gz
!**/*.svg
!node_modules/@vscode/codicons/dist/**
!node_modules/vscode-languageserver-textdocument
!node_modules/vscode-uri
!node_modules/sql.js/dist/sql-wasm.wasm
!node_modules/sql.js/dist/sql-wasm.js
!node_modules/sql.js/package.json

!CHANGELOG.md
!LICENSE
!package*.json
!README.md
