# Ignore everything
*
*/**

# Allowlist what we need
!out/**
!assets/**
!servers/**

!webviews/codex-webviews/dist/**
!webviews/obs/build/**
!webviews/dictionary-side-panel/dist/**
!webviews/editable-react-table/dist/**
!webviews/usfm-viewer/build/**

!src/assets/reset.css
!src/assets/vscode.css
!**/*.svg
!node_modules/@vscode/codicons/dist/**

!CHANGELOG.md
!LICENSE
!package*.json
!README.md