div[id^="note_"] {
    flex-direction: column;
    margin: 1em;
    text-align: left;
}

.translation-note-view {
    width: 100%;
}

.scroller-container {
    width: 100%;
}

#note-position {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.column-container {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.arrow-button {
    flex-basis: 5%;
    flex-grow: 0;
    flex-shrink: 0;
    font: normal normal normal 26px/1 codicon;
}

#note-container {
    flex-grow: 1;
    text-align: center;
}
