/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--vscode-font-family, 'Inter', sans-serif);
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

#root {
  margin: 0px;
  padding: 0px;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.svg-icon svg {
  position: relative;
  height: 1.5em; /*remove?*/
  width: 1.5em; /*remove?*/
  top: 0.125rem;
}

.svg-text svg {
  stroke: #424242;
}

.svg-180 svg {
  transform: rotate(180deg);
}

.form-input {
  padding: 0.375rem;
  /* background-color: #eeeeee; */
  background-color: var(--vscode-input-background);
  /* border: none; */
  border: 1px solid var(--vscode-input-border);
  /* border-radius: 4px; */
  border-radius: var(--vscode-input-borderRadius);
  font-size: 0.875rem;
  /* color: #424242; */
  color: var(--vscode-input-foreground);
}

.form-input:focus {
  outline: none;
  /* box-shadow: 0 0 1px 2px #8ecae6; */
  box-shadow: 0 0 1px 2px var(--vscode-focusBorder);
}

.is-fullwidth {
  width: 100%;
}

.bg-white {
  /* background-color: white; */
  background-color: var(--vscode-editor-background);
}

.data-input {
  white-space: pre-wrap;
  border: none;
  /* border: 1px solid var(--vscode-input-border); */
  padding: 0.5rem;
  /* color: #424242; */
  color: var(--vscode-input-foreground);
  font-size: 1rem;
  /* border-radius: 4px; */
  border-radius: var(--vscode-input-borderRadius);
  resize: none;
  /* background-color: white; */
  background-color: var(--vscode-input-background);
  box-sizing: border-box;
  flex: 1 1 auto;
}

.data-input:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px var(--vscode-focusBorder); */
}

.shadow-5 {
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.12),
    0 16px 32px rgba(0, 0, 0, 0.12); */
  box-shadow: var(--vscode-shadow);
}

.svg-icon-sm svg {
  position: relative;
  height: 1rem;
  width: 1rem;
  top: 0.125rem;
}

.svg-gray svg {
  stroke: #9e9e9e;
}

.option-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  /* border: 1px solid var(--vscode-input-border); */
  background-color: transparent;
  /* background-color: var(--vscode-input-background); */
}

.option-input:focus {
  outline: none;
  /* box-shadow: 0 0 0 2px var(--vscode-focusBorder); */
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.sort-button {
  padding: 0.25rem 0.75rem;
  width: 100%;
  background-color: transparent;
  border: 0;
  font-size: 0.875rem;
  /* color: #757575; */
  color: var(--vscode-button-foreground);
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

.sort-button:hover {
  /* background-color: #eeeeee; */
  background-color: var(--vscode-button-hoverBackground);
}

.remove-button {
  /* position: absolute;
  top: 0; */
  /*right: 0; */
  /* bottom: 0; */
  /* left: 0; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px; /* Adjust padding as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10; /* Ensures the button is above the table */
}

.remove-button svg {
  height: 48px; /* Adjust size as needed */
  width: 48px; /* Adjust size as needed */
  fill: var(
    --vscode-button-foreground
  ); /* Use VS Code theme color for the icon */
}

.remove-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.remove-button:hover:not(:disabled) {
  background-color: var(
    --vscode-button-hoverBackground
  ); /* Use VS Code theme color for hover state */
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; /* Aligns the button to the right */
  padding: 10px;
}

.table-container {
  position: relative;
  padding-top: 50px;
  /* overflow: inherit; */
}

.remove-button-container {
  /* position: absolute; */
  /* right: 0; Aligns the button to the right */
  /* top: -50px; Adjusts the vertical position to float above the table */
  /* z-index: 10; Ensures the button is above the table */
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally if needed */
  height: 100%; /* Ensure the container fills the cell */
}

.checkbox-large {
  transform: scale(2.5); /* Adjust scale as needed */
  margin: 5px; /* Optional: add some margin if needed */
}

.add-row {
  /* color: #9e9e9e; */
  color: var(--vscode-button-foreground);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  cursor: pointer;
  height: 50px;
  /* border: 1px solid #e0e0e0; */
  border: 1px solid var(--vscode-button-border);
}

.add-row:hover {
  /* background-color: #f5f5f5; */
  background-color: var(--vscode-button-hoverBackground);
}

.th {
  /* color: #9e9e9e; */
  color: var(--vscode-editorWidget-foreground);
  background-color: var(--vscode-editorWidget-background);
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

.th:hover {
  /* background-color: #f5f5f5; */
  background-color: var(--vscode-list-hoverBackground);
}

.th-content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  height: 50px;
}

.td {
  overflow: hidden;
  /* color: #424242; */
  color: var(--vscode-editor-foreground);
  /* background-color: var(--vscode-editor-background); */
  align-items: stretch;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.td-content {
  display: block;
}

.table {
  display: flex;
  flex-flow: column;
  /* display: inline-block;
  border-spacing: 0; */
}

.resizer {
  display: inline-block;
  background: transparent;
  width: 8px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(50%);
  z-index: 1;
  cursor: col-resize;
  touch-action: none;
}

.resizer:hover {
  /* background-color: #8ecae6; */
  background-color: var(--vscode-editor-selectionBackground);
}

.th,
.td {
  white-space: nowrap;
  margin: 0;
  /* border-left: 1px solid #e0e0e0; */
  /* border-top: 1px solid #e0e0e0; */
  border-left: 1px solid var(--vscode-editor-lineHighlightBackground);
  border-top: 1px solid var(--vscode-editor-lineHighlightBackground);
  position: relative;
}

.th {
  /* border-bottom: 1px solid #e0e0e0; */
  border-bottom: 1px solid var(--vscode-editor-lineHighlightBackground);
}

.tr:last-child .td {
  border-bottom: 0;
}

.td:last-child {
  /* border-right: 1px solid #e0e0e0; */
  border-right: 1px solid var(--vscode-editor-lineHighlightBackground);
}

.th:last-child {
  /* border-right: 1px solid #e0e0e0; */
  border-right: 1px solid var(--vscode-editor-lineHighlightBackground);
}

.tr:first-child .td {
  border-top: 0;
}

.text-align-right {
  text-align: right;
}

.cell-padding {
  padding: 0.5rem;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.cursor-default {
  cursor: default;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.border-radius-md {
  border-radius: 5px;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-margin {
  margin-right: 4px;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-400 {
  font-weight: 400;
}

.font-size-75 {
  font-size: 0.75rem;
}

.flex-1 {
  flex: 1;
}

.mt-5 {
  margin-top: 0.5rem;
}

.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-5 {
  margin-right: 0.5rem;
}

.justify-content-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

.list-padding {
  padding: 4px 0px;
  border: 1px solid var(--vscode-editor-lineHighlightBackground);
}

.bg-grey-200 {
  /* background-color: #eeeeee; */
  background-color: var(--vscode-editor-background);
}

.color-grey-800 {
  /* color: #424242; */
  color: var(--vscode-editor-foreground);
}

.color-grey-600 {
  /* color: #757575; */
  color: var(--vscode-editorWidget-foreground);
}

.color-grey-500 {
  /* color: #9e9e9e; */
  color: var(--vscode-editor-inactiveSelectionBackground);
}

.border-radius-sm {
  border-radius: 4px;
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.text-transform-capitalize {
  text-transform: capitalize;
}
