.draft-tab {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: auto;
  padding: 20px;
}

.search-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.form-error {
  color: var(--vscode-editorError-foreground);
  margin-bottom: 10px;
  font-weight: bold;
}

.results-container {
  flex: 1;
  overflow-y: auto;
  background-color: var(--vscode-editor-background);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: var(--vscode-editorHint-foreground);
  height: 100%;
}

.empty-state .codicon {
  font-size: 48px;
  margin-bottom: 10px;
}

.codex-item {
  margin-bottom: 20px;
  padding: 15px;
  background-color: var(--vscode-sideBar-background);
  border-radius: 8px;
  color: var(--vscode-editor-foreground);
}

.codex-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
}

.codex-item-content {
  margin-bottom: 15px;
}

.codex-item-content > div {
  margin-bottom: 20px;
}

.codex-item-content h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 18px;
}

.codex-item-content p {
  margin: 0;
  padding: 10px;
  background-color: var(--vscode-editor-background);
  border-radius: 8px;
  font-size: 16px;
}

.codex-item-actions {
  display: flex;
  justify-content: flex-end;
}

.codex-item-actions .vscode-button {
  margin-left: 10px;
}
